/* .nav {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
} */

/* ul {
    display: flex;
    justify-content: space-between;
    width: 35%;
    list-style: none;
} */